* {
    margin: 0;
    padding: 0;
    /* Minden HTML elem külső és belső margóját 0-ra raktuk */
    box-sizing: border-box;
    /* elem szélességébe width értékbe beletartozik a padding és border */
}

body {
    background-color: #f7fafa;
}

main {

    max-width: 1200px;
    width: 90%;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 200px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #5facb4;
    grid-template-areas:
    "h h"
    "n n"
    "ar a"
    "f f";
}

header{
    padding: 50px;
    text-align: center;
    grid-area: h;
}


nav ul {
    display:flex;
    list-style-type: none;

}
nav ul li{
    margin-left: 30px;
    margin-right: 30px;
}

nav ul li:hover{
    border-radius:10px;
    background-color: #f7fafa;

}

nav a {
    text-decoration: none;
    color: black;
}
nav {
    grid-area: n;
    padding: 20px 0px;
    background-color: #9cd6dc;
    border-radius: 10px;
    margin-bottom: 10px;;
}
footer {
    margin-top: 10px;
    grid-area: f;
    text-align: center;
}
aside {
    grid-area: a;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #69cfda;
    margin-left: 10px;
    text-align: center;
    padding: 10px;
}

img {
    width: 200px;
}
article {
    grid-area: ar;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

article div{
    border-radius: 10px;
    background-color: #69cfda;
    text-align: center;
}

div#bal {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.asd {
    text-align: right;
}
#eredmeny {
    color: brown;
    text-align: center;
    border-top: solid black;
    font-weight: bold;
}
#fizetes {
    color: brown;
    margin-top: 190px;
}

div#ar {
    text-align: center;
}

/* TABLET NÉZET - RESZPONZIVITÁS KIALAKÍTÁSA */
@media only screen and (max-width: 1212px) { /* töréspont */
    body, main {
      /* background-color: lightblue; */
      width: 100%;
    }
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "h h"
        "n n"
        "ar a"
        "f f";
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }
    article {
        grid-area: ar;
        display: grid;
        grid-template-columns: 1fr;
    }

  }

/* MOBIL NÉZET - RESZPONZIVITÁS KIALAKÍTÁSA */
@media only screen and (max-width: 500px) { /* töréspont */
    body, main {
      /* background-color: lightblue; */
      width: 100%;
    }
    main {
        font-size: 6vw;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "n"
        "a"
        "ar"
        "f";
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }
    article {
        grid-area: ar;
        display: grid;
        grid-template-columns: 1fr;
    }
  }